<!DOCTYPE html>

<html lang="en">

    <head>
        <title>Robot Test</title>
    </head>

    <body>
        <h3>Linear Motion</h3>
	<form action="/" method="post">
            <input name="x" placeholder="x">
            <input name="y" placeholder="y">
            <input name="theta" placeholder="theta">
            <button>Move</button>
        </form>

	<form action="/" method="post">
            <button style="background-color:red; border-color:black; color:white">STOP</button>
        </form>
<!--
	<form action="/" method="post">
            <input name="max_linear" placeholder="max_linear" type="number">
            <button>Move it</button>
        </form>

        <h3>Angular Motion</h3>
        <form action="/" method="post">
            <input name="max_angle" placeholder="max_rotation" type="number">
            <button>Rotate</button>
        </form>
	
	<form action="/" method="post">
            <button style="background-color:red; border-color:black; color:white">STOP</button>
        </form>
-->
    </body>

</html>
